div.content {
    margin: 0 auto;
    width: 1024px;
}
.content {
    color: white;
    background-image: url("./images/background.jpg");
    height: 768px;
    background-repeat: no-repeat;
    padding: 30px 157px;
    font-family: Verdana, sans-serif;
}
.header { position: relative;
 }

.logototal {
    display: inline-block;
    color: white;
    padding-left: 50px;
    background: url(images/logo@1X.png) no-repeat;
    text-decoration: none;
    font-weight: bolder;
}

.logototal::first-line {
    font-size: 24px;
    letter-spacing: 2px;
}

.logototal:hover {
    color: #f26522;
    background: url(images/logo@orange.png) no-repeat;
}
.contacts { letter-spacing: 0.5px;
    float: right;
    font-size: 18px;
    text-align: right;
    position: absolute;
    top:0; right:0;
}
.contacts>p {margin-top: 0; margin-bottom: 0}

.mainContent {
    width: 1084px;
}
.card {
    text-align: center;
    text-decoration: none;
    float:left;
    padding: 20px;
    padding-left: 0;
    padding-right: 45px;
    box-sizing: border-box;
    margin-top: 30px;
    position:relative;
}
.card1 { text-decoration: none;
    float:left;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 45px;
    margin-top: 40px;
    text-align: center;
    position:relative;
}
.card>a>p {
    color: white;
    text-decoration:none;
    position: absolute;
    margin-top: 220px;
    left:25px; right:80px
}
.card1>a>p {
    color: white;
    text-decoration: none;
    position: absolute;
    margin-top: 220px;
    left:25px; right:80px
}
.card>a>img {
    background: linear-gradient(to top, black, white);
    padding: 3px;
    float: left;
}
.card1>a>img {
    background: linear-gradient(to top, black, white);
    padding: 3px;
    float: left;
}
.layerorange{
    position:absolute;
    top:162px;
    opacity:0
}
.textorange {opacity: 0}
.card1>textorange {opacity:0}

.card:hover .layerorange {opacity:1;}
.card1:hover .layerorange {opacity:1;}

.card:hover .textorange {opacity:1;}
.card1:hover .textorange {opacity:1;}

.textorange p1 {
    position: absolute;
    width: 60px;
    height: 80px;
    top: 190px;
    left: 20px; ;
}
.textorange>p1>span {
    font-size: xx-small;
    box-sizing: border-box;
    position: absolute;
    top:-10px
}
.textorange>p2 {
    position: absolute;
    right:70px; top:195px;
    font-size: 11px;
    word-spacing: 2px;
}
.footer {
    padding-top:70px;
    text-align: center;  font-size: 12px;
    padding-right: 50px
}
.clear {
    clear: both
}